Semana 1/*.aux
Semana 1/*.bbl
Semana 1/*.blg
Semana 1/*.brf
Semana 1/*.fdb_latexmk
Semana 1/*.fls
Semana 1/*.idx
Semana 1/*.ilg
Semana 1/*.ind
Semana 1/*.log
Semana 1/*synctex.gz
Semana 1/*.toc

Semana 2/*.aux
Semana 2/*.bbl
Semana 2/*.blg
Semana 2/*.brf
Semana 2/*.fdb_latexmk
Semana 2/*.fls
Semana 2/*.idx
Semana 2/*.ilg
Semana 2/*.ind
Semana 2/*.log
Semana 2/*synctex.gz
Semana 2/*.toc

Semana 3/*.aux
Semana 3/*.bbl
Semana 3/*.blg
Semana 3/*.brf
Semana 3/*.fdb_latexmk
Semana 3/*.fls
Semana 3/*.idx
Semana 3/*.ilg
Semana 3/*.ind
Semana 3/*.log
Semana 3/*synctex.gz
Semana 3/*.toc

Relatório Final/*.aux
Relatório Final/*.bbl
Relatório Final/*.blg
Relatório Final/*.brf
Relatório Final/*.fdb_latexmk
Relatório Final/*.fls
Relatório Final/*.idx
Relatório Final/*.ilg
Relatório Final/*.ind
Relatório Final/*.log
Relatório Final/*synctex.gz
Relatório Final/*.toc
